<!-- views/recordDetails.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Record Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
  <h1>Record Details</h1>
  <p>ID: <%= record.id %></p>
  <p>Name: <%= record.name %></p>
  <p>Description: <%= record.description %></p>

  <!-- Add Update and Delete buttons -->

  <a href="/records/<%= record.id %>/update" class="btn btn-primary">Update</a><br><br>
  
  <form method="post" action="/records/<%= record.id %>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this record?');">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>

  

  

</div>


  <script>
    function deleteRecord(recordId) {
      if (confirm("Are you sure you want to delete this record?")) {
        // Create a hidden form to send the DELETE request
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/records/${recordId}`;
        form.innerHTML = '<input type="hidden" name="_method" value="DELETE">';
        document.body.appendChild(form);
        form.submit();
      }
    }
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
